@using WebBookStore.Models;
@model List<Cart>
@{
    Layout = "~/Views/Layout/PurchaseLayout.cshtml";
}

<div class="order-info">
    <a href="@Url.Action("Index", "Home")">
        <img src="~/Asset/img/logo.png" />
    </a>
    @using (Html.BeginForm("OrderCart", "Cart"))
    {
        <div class="purchase-info__item">
            <p>Địa chỉ mail liên lạc</p>
            <input type="text" name="Contact" placeholder="Số Điện Thoại">
        </div>
        <div class="purchase-info__item">
            <p>Địa chỉ giao hàng</p>
            <input type="text" name="Name" placeholder="Tên">
            <input type="text" name="Address" placeholder="Địa chỉ">
            <input type="text" name="City" placeholder="Thành phố">
        </div>
        <div class="order-ctrl">
            <button class="btn btn-secondary">
                Đặt hàng
            </button>
            <a href="@Url.Action("ViewCart", "Cart")">Trở về giỏ hàng</a>
        </div>
    }
</div>
<div class="order-detail">
    <div class="order__list">
        @{
            foreach (var item in Model)
            {
                <div class="order__item row">
                    <div class="order__item-img">
                        <img src="@item.sImages" alt="">
                        <span>@item.sQuantity</span>
                    </div>
                    <h3 class="name">@item.sTitle</h3>
                    <p class="order__item-price">
                        <span class="price-number">@item.Total</span> VND
                    </p>
                </div>
            }
        }
    </div>
    @using (Html.BeginForm("GetDiscount", "Cart"))
    {
        <div class="order-discount row">
            <input type="text" name="discount" placeholder="Mã giảm giá">
            <button class="btn btn-secondary">Áp dụng</button>
        </div>
    }
    <div class="order-total">
        @{
            <p class="row">Tổng tiền: <span><span class="price-number">@ViewBag.TotalPrice</span> VND</span></p>
            <p class="row">Giảm giá: <span>@ViewBag.Discount%</span></p>
            if (@ViewBag.ApproveDiscount == null)
            {
                <p class="row">Thành tiền: <span><span class="price-number">@ViewBag.TotalPrice</span> VND</span></p>
            }
            else
            {
                <p class="row">Thành tiền: <span><span class="price-number">@ViewBag.ApproveDiscount</span> VND</span></p>
            }
        }
    </div>
    <img src="~/Asset/img/payment-method.png" />
</div>
