@using WebBookStore.Models;
@model List<Cart>
@{
    if (@ViewBag.TotalItem == null)
    {
        <div class="quantity">0</div>
    }
    else
    {
        <div class="quantity">@ViewBag.TotalItem</div>
        <div class="cart__detail">
            <div class="cart__list">
                @{
                    for (int i = 0; i < Model.Count; i++)
                    {
                        <div class="cart__item row--base">
                            <img src="@Model[i].sImages" />
                            <div class="cart__item-info">
                                <h4>@Model[i].sTitle</h4>
                                @using (Html.BeginForm("UpdateCart", "Cart", new { @id_book = Model[i].sID_Book, @Strurl = Request.Url.ToString() }))
                                {
                                    <div class="cart__item-quantity row">
                                        <button class="btn cart-btn-increase"><i class="fa fa-plus"></i></button>
                                        @Html.TextBox("quantity-text", Model[i].sQuantity)
                                        <button class="btn cart-btn-decrease"><i class="fa fa-minus"></i></button>
                                    </div>
                                }
                                <p>@Model[i].sPrice VND</p>
                            </div>
                            <p class="delete-cart__item">
                                @using (Html.BeginForm("DeleteCart", "Cart", new { @id_book = Model[i].sID_Book, @Strurl = Request.Url.ToString() }))
                                {
                                    <button class="fa fa-times"></button>
                                }
                            </p>
                        </div>
                    }
                }
            </div>
            <p class="total">Total: <span>@ViewBag.TotalPrice VND</span></p>
            <div class="cart__detail-ctrl row">
                <button class="btn btn-secondary">Thanh Toán</button>
                @using (Html.BeginForm("ClearAllCart", "Cart", new { @Strurl = Request.Url.ToString() }))
                {
                    <button class="btn btn-danger">Xóa tất cả</button>
                }
            </div>
        </div>
    }
}

